<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidassignments">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAssignments">
        <activity android:name=".MessageDetails"></activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".WeatherForecast"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TestToolbar"
            android:label="@string/title_activity_test_toolbar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AndroidAssignments.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatWindow"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListItemsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>